##// /*
##//   `argv` array variable and `_aclii_debug` function must be
##//  defined before loading this snipet.
##// */

_aclii_debug "enter parse_args |$@|"
_aclii_debug "num args $#"
local -a values=("")
local -a values_for=("")

##// aclii.allCommands.forEach( c => {
##//   c.ownOptions.forEach( o => {
  values[<%= o.id %>]='<%= o.defaultValue || '' %>'
  values_for[<%= o.id %>]='<%= o.name %>'
##//   })
##// })

local error=""
local wantType=""
local wantCount=0
local wantingObjectId=""
local argvMode=""
local cmd="<%= aclii.commandName %>"
local -a trailingArgs=("DUMMY FOR SUPPRESS -u")
local processed=0 # Just for debug
local comopt
local arg

if [ -n "${argv[@]+NOARGS}" ] && [ -n "${argv+ARG}" ]; then
  for arg in "${argv[@]}"
  do
    : $((processed++))
    _aclii_debug "Processing $processed arg |$arg|"
    _aclii_debug "   cmd: $cmd  wantType |$wantType|"

    # Now we're already eating remained argv. Just eat it
    if [ -n "$argvMode" ]; then
      #TODO: Do we need to varidate here?
      trailingArgs+=("$arg")

    elif [ -n "$wantType" ]; then
      #TODO: Do we need to varidate here?

      _aclii_debug "Save value $arg for id $wantingObjectId"
      values[$wantingObjectId]="$arg"
      : $((wantCount--))
      if [ "$wantCount" == "0" ]; then
        wantingObjectId=""
        wantType=""
      fi

    # Traditional args terminator
    elif [ "$arg" == "--" ]; then
      argvMode="any"
    elif [ "${arg:0:2}" == '--' ]; then
      # It starts with dash. So this might be an option

      #XXX: How to handle help?
      # This launcher will handle help command
      #if [ `echo "$arg" | grep "-help$"` ]; then
      #  _help $cmd
      #fi
      # Check option that if
      # next arg is option valu or not

      comopt="$cmd"'@'"$arg"
      _aclii_debug "adding flag |$comopt|"
      _aclii_debug "Checking option $arg : comopt $comopt"
      case "$comopt" in
##// aclii.allCommands.forEach( c => {
# Option for <%= c.path %>
##//   c.options.forEach( o => {
        '<%= c.path %>@--<%= o.name %>' )
          wantType="<%= o.want %>"
          wantingObjectId="<%= o.id %>"
          wantCount=<%= o.wants || 1 %>
          _aclii_debug "want $wantType for id $wantingObjectId"
          ;;
##//  })})
        * )
          if [ -n "${ACLII_EXEC+EXEC}" ]; then
            echo "aclii: Unknown Option $arg"
            _help $cmd
          else
            error="Unknown Option $arg"
          fi
      esac
  # elif
  #   TODO: Short option handling here
    else
      case "$cmd.$arg" in
##//  aclii.root.subCommands.forEach( c => {
        "<%= c.path %>" )
          cmd="<%= c.path %>"
          #TODO: Support limited number of args
##//    if (c.argv) {
          argvMode="<%= c.argv %>"
          wantType="<%= c.argv %>"
##//    }
          ;;
##//  })
        * )
          if [ -n "${ACLII_EXEC+EXEC}" ]; then
            echo "aclii: Unknown Command $arg"
            _help $cmd
          else
            error="Unknown Command $arg"
          fi
      esac
    fi
  done

  _aclii_debug "Parse done---------"

  if [ "$wantCount" != "0" ]; then
    error="Value for ${values_for[$wantingObjectId]} is missing"
  fi

  #echo ${values[@]}
else
  _aclii_debug "No args. Parse has skipped."
fi
