##// /*
##//   `argv` array variable and `_aclii_debug` function must be
##//  defined before loading this snipet.
##// */

_aclii_debug "enter parseargs |$*|"
_aclii_debug "num args $#"

##// //subcommand = options? (finite-args)? subcommand?
##// //           | options? (finite-args)? (ininite-args)


##// // store position of argv to input id. 0 for non-user-input.
##// // for example, we have --file option and it's id = 7,
##// // then if input is "cmd_foo subcmd --file names.txt subcmd"
##// // argv map should be [ 0,   0,     0,     7,        0]
local -a argvTypes # for debug. maybe removed soon.

local -a commandPath=("<%= aclii.commandName %>")

##// // Set up input definitions.

local inputChain=(<%= aclii.inputs.map(i => `"${i.next || ''}"`).join(' ')%>)
local inputTypes=(<%= aclii.inputs.map(i => `"${i.type || ''}"`).join(' ')%>)
local inputKeys=(<%= aclii.inputs.map(i => `"${i.name || ''}"`).join(' ')%>)
local inputIsMany=(<%= aclii.inputs.map(i => `"${i.many ? 1 : ''}"`).join(' ')%>)
local inputIsMulti=(<%= aclii.inputs.map(i => `"${i.multi || ''}"`).join(' ')%>)

local -a foundValues
local -a foundValuesFor
local currentOptionSet="<%= aclii.root.optionSetId %>"
local error=""
local wantType=""
local wantingInputId=""
local wantOptType=""
local wantingOptInputId=""
local cmd="<%= aclii.commandName %>"
local nth=0
local arg
local optionStop=""
local help=""
if [ -n "${iszsh+ZSH}" ]; then
  nth=1
fi

if [ -n "${argv+ARG}" ]; then
  for arg in "${argv[@]}"
  do
    _aclii_debug "Processing $nth arg |$arg|"
    _aclii_debug "   cmd: $cmd  wantType |$wantType| wantOpt |$wantOptType|"


    if [ -n "$wantOptType" ]; then
      argvTypes[nth]="input:$wantOptType"
      #TODO: Do we need to varldate here?

      _aclii_debug "Save value $arg for id $wantingOptInputId"
      foundValues+=("$arg")
      foundValuesFor+=("$wantingOptInputId")
      wantingOptInputId=""
      wantOptType=""

    # Traditional options terminator
    elif [ "$arg" = "--" ] && [ -z "$optionStop" ]; then
      optionStop="true"
      argvTypes[nth]="argterminator"

    elif [ "${arg:0:2}" = '--' ] && [ -z "$optionStop" ]; then
      # It starts with double dash. So this might be an option
      if [ "${arg:2}" = "help" ]; then
        help="help"
        break
      fi

      argvTypes[nth]="option"
      case "$currentOptionSet" in
##// aclii.optionSets.forEach( (set, index) => {
        '<%= index %>' )
          case "${arg:2}" in
##//   set.flatMap( o => o ).forEach( o => {
            '<%= o.input.name %>')
##//     if ( o.input.type === 'switch' ) {
              foundValues+=("1")
              foundValuesFor+=("<%= o.input.inputId %>")
##//     } else {
              wantOptType="<%= o.input.type %>"
              wantingOptInputId="<%= o.input.inputId %>"
##//     }
              _aclii_debug "option want $wantOptType for id $wantingOptInputId"
              ;;
##//   })
            * )
              error="Unknown Option $arg"
              break
          esac
        ;;
##// })
      esac

    ## If reading (in)finite args
    elif [ -n "$wantType" ]; then
      argvTypes[nth]="input:$wantType"
      #TODO: Do we need to varldate here?

      _aclii_debug "Save value $arg for id $wantingInputId"
      foundValues+=("$arg")
      foundValuesFor+=("$wantingInputId")
      if [ -n "${inputIsMany[wantingInputId]}" ]; then
        :
      elif [ -n "${inputChain[wantingInputId]}" ]; then
        local nextId="${inputChain[wantingInputId]}"
        wantingInputId="$nextId"
        wantType="${inputTypes[nextId]}"
      else
        wantingInputId=""
        wantType=""
      fi

    else
      argvTypes[nth]="subcommand"
      case "$cmd.$arg" in
##// //TODO: make template engine to enable recursive loop
##//  aclii.allCommands.forEach( c => {
        "<%= c.path %>" )
          cmd="<%= c.path %>"
          commandPath+=("<%= c.name %>")
          currentOptionSet="<%= c.optionSetId %>"
##//    if ( c.want ) {
          wantType="<%= c.want.type %>"
          wantingInputId="<%= c.want.inputId %>"
##//    }
          ;;
##//  })
        * )
          error="Unknown Command $arg"
          break
      esac
    fi
    : $((nth++))
  done

  _aclii_debug "Parse done---------"
  _aclii_debug "    cmd: $cmd"
  _aclii_debug "  error: $error"
  _aclii_debug "   want: $wantType"
  _aclii_debug "optwant: $wantOptType"

  _aclii_debug "argvTypes"
  _aclii_debug "${argvTypes[@]}"
  #echo ${values[@]}
else
  _aclii_debug "No args. Parse has skipped."
fi
